<html>
<head>
<style type="text/css">
  div.search_block {
    width : 100%;
    padding-left :15px;
  }

  div.media_block {
    width : 100%;
  }

  div.image_block {
    height : 612px;
    width : 612px;
    float : left;
    padding : 15px;
  }

  div.meta_block {
    height : 612px;
    width : 300px;
    float : left;
    padding : 15px;
  }

  div.user_block, div.caption_block, div.tags_block {
    padding-bottom: 15px;
    padding-top: 15px;
  }
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script type="text/javascript">
function initialize() {
  $("#search_filter").change(function(event_obj) {
    filter = new RegExp($("#search_filter").val(), "mig");
    $.each($(".media_block"), function(index, value) {
      if (filter.test($(value).find(".caption_text_block").text()))
      {
        $(value).show();
      }
      else
      {
        $(value).hide();
      }
    });
  });
}
</script>
</head>

<body onload="initialize()">

<div class=search_block>
  <input id=search_filter type=text size=50></input>
</div>

<% @user_media_feed.each do |media| %>
  <div class=media_block id=<%= media.id %>>
    <div class=image_block>
      <img src="<%= media.images.standard_resolution.url %>">
    </div>
    <div class=meta_block>
      <% if media.caption %>
        <div class=created_at_block>
          <b>Created</b> <%= Time.at(media.caption.created_time.to_i) %>
        </div>
        <div class=user_block>
          <div class=user_profile_picture_block>
            <img src="<%= media.caption.from.profile_picture %>">
          </div>
          <div class=user_full_name_block>
            <b>Full Name</b>: <%= media.caption.from.full_name %>
          </div>
          <div class=user_username_block>
            <b>Username</b>: <a href="/instagram/<%= media.caption.from.id %>/feed"><%= media.caption.from.username %></a>
          </div>
        </div>
        <div class=caption_text_block>
          <b>Caption:</b> <%= media.caption.text %>
        </div>
      <% end %>
      <div class=tags_block>
        <b>Tags</b>: <%= media.tags.join(", ") %>
      </div>
    </div>
  </div>
<% end %>

</body>
</html>
